
body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}


.gridStyle {
    xborder: 1px solid rgb(212,212,212);
    xwidth: 400px; 
  height: 300px
}


.row {
  margin-bottom: 20px;
}


.xhidden {
  display: none;
}
